<div id="<%= dom_id product %>">
  <p>
    <strong>Uuid:</strong>
    <%= product.uuid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Previous price:</strong>
    <%= product.previous_price %>
  </p>

  <p>
    <strong>Valorations:</strong>
    <%= product.valorations %>
  </p>

  <p>
    <strong>Number of valorations:</strong>
    <%= product.number_of_valorations %>
  </p>

  <p>
    <strong>Available size:</strong>
    <%= product.available_size %>
  </p>

  <p>
    <strong>Img path:</strong>
    <%= product.img_path %>
  </p>

</div>
