<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Previous price:</strong>
    <%= product.previous_price %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Valoration:</strong>
    <%= product.valoration %>
  </p>

  <p>
    <strong>Number of valorations:</strong>
    <%= product.number_of_valorations %>
  </p>

  <p>
    <strong>Available sizes:</strong>
    <%= product.available_sizes %>
  </p>

  <p>
    <strong>Img path:</strong>
    <%= product.img_path %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

</div>
